In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
Master_DF = pd.read_csv("NFLFantasyStats.csv", header=1)

In [7]:
Master_DF.shape

(620, 33)

In [9]:
Master_DF.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey*+\McCaCh01,CAR,RB,23,16,16,0,2,0,...,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
1,2,Lamar Jackson*+\JackLa00,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0
2,3,Derrick Henry*\HenrDe00,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
3,4,Aaron Jones\JoneAa00,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
4,5,Ezekiel Elliott*\ElliEz00,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0

In [8]:
Master_DF.describe()

,Rk,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
count,620.000000,620.000000,620.000000,620.000000,620.00000,620.000000,620.000000,620.000000,620.000000,620.000000,...,620.000000,50.000000,26.000000,544.000000,559.000000,559.000000,559.000000,74.000000,620.00000,78.000000
mean,310.500000,26.008065,10.566129,4.953226,18.26129,28.772581,207.772581,1.283871,0.658065,21.572581,...,2.008065,1.080000,1.461538,61.150735,79.697496,83.350447,70.313775,41.594595,89.91129,39.500000
std,179.122863,3.406010,5.255090,5.408610,70.31567,110.033237,808.348110,5.180746,2.704484,52.994402,...,2.903109,0.274048,0.706018,72.466410,86.514712,89.617434,80.021553,38.572443,62.29263,22.660538
min,1.000000,21.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,-4.000000,-4.000000,-2.000000,-4.000000,1.000000,1.00000,1.000000
25%,155.750000,24.000000,6.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,8.000000,11.100000,11.600000,9.150000,15.750000,39.00000,20.250000
50%,310.500000,25.000000,12.000000,3.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,32.000000,45.700000,49.300000,37.700000,28.000000,79.00000,39.500000
75%,465.250000,27.000000,16.000000,9.000000,0.00000,0.000000,0.000000,0.000000,0.000000,10.000000,...,3.000000,1.000000,2.000000,86.000000,122.050000,126.650000,105.500000,54.000000,130.25000,58.750000
max,620.000000,42.000000,17.000000,16.000000,408.00000,626.000000,5109.000000,36.000000,30.000000,303.000000,...,19.000000,2.000000,3.000000,416.000000,471.200000,477.200000,421.700000,215.000000,245.00000,78.000000

In [10]:
Master_DF.columns = ['Rank', 'Player', 'Team','Fantasy Position','Age','Games Played','Games Started as Off or Def','Passes completed','Passes attempted',"Yards Gained by Passing",'Passing Touchdowns','Interceptions Thrown','Rushing Attempts','Rusing Yards Gained','Rushing Yards per Attempt','Rushing Touchdowns','Pass Targets','Receptions','Receiving Yards','Receiving Yards per Reception','Receiving Touchdowns','# of times fumbled both lost and recovered by own team','Fumbles Lost by Player','Touchdowns of every type','Two-Point Conversions Made','Two-point Conversion Passes','Fantasy Points','Fantasy Points(PPR scoring)','Fantasy Points (Draftkings scoring)','Fantasy Points(FanDuel scoring)','Value Based Drafting','Fantasy rank within Position','Overall Fantasy Rank']

In [11]:
Master_DF.head(100)

,Rank,Player,Team,Fantasy Position,Age,Games Played,Games Started as Off or Def,Passes completed,Passes attempted,Yards Gained by Passing,...,Touchdowns of every type,Two-Point Conversions Made,Two-point Conversion Passes,Fantasy Points,Fantasy Points(PPR scoring),Fantasy Points (Draftkings scoring),Fantasy Points(FanDuel scoring),Value Based Drafting,Fantasy rank within Position,Overall Fantasy Rank
0,1,Christian McCaffrey*+\McCaCh01,CAR,RB,23,16,16,0,2,0,...,19,1.0,NaN,355.0,471.2,477.2,413.2,215.0,1,1.0
1,2,Lamar Jackson*+\JackLa00,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416.0,415.7,429.7,421.7,152.0,1,2.0
2,3,Derrick Henry*\HenrDe00,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277.0,294.6,303.6,285.6,136.0,2,3.0
3,4,Aaron Jones\JoneAa00,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266.0,314.8,322.8,290.3,125.0,3,4.0
4,5,Ezekiel Elliott*\ElliEz00,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258.0,311.7,319.7,284.7,117.0,4,5.0
5,6,Dalvin Cook*\CookDa01,MIN,RB,24,14,14,0,0,0,...,13,NaN,NaN,239.0,292.4,300.4,265.9,99.0,5,6.0
6,7,Michael Thomas*+\ThomMi05,NOR,WR,26,16,15,0,0,0,...,9,NaN,NaN,226.0,374.6,377.6,300.1,97.0,1,7.0
7,8,Travis Kelce*\KelcTr00,KAN,TE,30,16,16,0,0,0,...,6,NaN,NaN,157.0,254.3,258.3,205.8,80.0,1,8.0
8,9,Nick Chubb*\ChubNi00,CLE,RB,24,16,16,0,0,0,...,8,NaN,NaN,219.0,255.2,264.2,237.2,79.0,6,9.0
9,10,Austin Ekeler\EkelAu00,LAC,RB,24,16,8,0,0,0,...,11,NaN,NaN,217.0,309.0,317.0,263.0,76.0,7,10.0
10,11,Mark Ingram*\IngrMa01,BAL,RB,30,15,15,0,0,0,...,15,2.0,NaN,217.0,242.5,250.5,229.5,76.0,8,11.0
11,12,Dak Prescott\PresDa01,DAL,QB,26,16,16,388,596,4902,...,3,NaN,1.0,338.0,337.8,356.8,348.8,74.0,2,12.0
12,13,Mark Andrews*\AndrMa00,BAL,TE,23,15,4,0,0,0,...,10,NaN,NaN,143.0,207.2,211.2,175.2,66.0,2,13.0
13,14,Russell Wilson*\WilsRu00,SEA,QB,31,16,16,341,516,4110,...,3,NaN,1.0,329.0,328.6,341.6,333.6,65.0,3,14.0
14,15,Chris Godwin*\GodwCh00,TAM,WR,23,14,14,0,0,0,...,9,1.0,NaN,190.0,276.1,279.1,233.1,61.0,2,15.0
15,16,George Kittle*+\KittGe00,SFO,TE,26,14,14,0,0,0,...,5,NaN,NaN,138.0,222.5,225.5,180.0,61.0,3,16.0
16,17,Deshaun Watson*\WatsDe00,HOU,QB,24,15,15,333,495,3852,...,8,NaN,1.0,320.0,321.0,342.0,332.5,56.0,4,17.0
17,18,Chris Carson\CarsCh00,SEA,RB,25,15,15,0,0,0,...,9,NaN,NaN,196.0,232.6,242.6,214.1,55.0,9,18.0
18,19,Darren Waller\WallDa01,OAK,TE,27,16,16,0,0,0,...,3,NaN,NaN,131.0,221.0,225.0,176.0,54.0,4,19.0
19,20,Kenny Golladay*\GollKe00,DET,WR,26,16,16,0,0,0,...,11,NaN,NaN,183.0,248.0,252.0,215.5,54.0,3,20.0
20,21,Saquon Barkley\BarkSa00,NYG,RB,22,13,13,0,0,0,...,8,NaN,NaN,192.0,244.1,250.1,218.1,52.0,10,21.0
21,22,Zach Ertz*\ErtzZa00,PHI,TE,29,15,15,0,0,0,...,6,1.0,NaN,128.0,215.6,219.6,171.6,51.0,5,22.0
22,23,Joe Mixon\MixoJo00,CIN,RB,23,16,15,0,0,0,...,8,NaN,NaN,190.0,225.4,231.4,207.9,50.0,11,23.0
23,24,Todd Gurley\GurlTo01,LAR,RB,25,15,15,0,0,0,...,14,1.0,NaN,188.0,219.4,227.4,203.9,48.0,12,24.0
24,25,Jared Cook*\CookJa02,NOR,TE,32,14,7,0,0,0,...,9,NaN,NaN,125.0,167.5,170.5,146.0,48.0,6,25.0
25,26,Cooper Kupp\KuppCo00,LAR,WR,26,16,14,0,1,0,...,10,NaN,NaN,177.0,270.5,273.5,223.5,47.0,4,26.0
26,27,Julio Jones*\JoneJu02,ATL,WR,30,15,15,0,0,0,...,6,NaN,NaN,175.0,274.1,277.1,224.6,46.0,5,27.0
27,28,DeVante Parker\ParkDe01,MIA,WR,26,16,14,0,0,0,...,9,NaN,NaN,174.0,246.2,249.2,210.2,45.0,6,28.0
28,29,Leonard Fournette\FourLe00,JAX,RB,24,15,15,0,0,0,...,3,NaN,NaN,183.0,259.4,266.4,221.4,43.0,13,29.0
29,30,Jameis Winston\WinsJa00,TAM,QB,25,16,16,380,626,5109,...,1,2.0,2.0,305.0,305.4,346.4,335.4,42.0,5,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,Marvin Jones\JoneMa02,DET,WR,29,13,11,0,0,0,...,9,NaN,NaN,132.0,193.9,196.9,162.9,3.0,27,71.0
71,72,Carlos Hyde\HydeCa00,HOU,RB,29,16,14,0,0,0,...,6,NaN,NaN,143.0,153.2,158.2,148.2,3.0,23,72.0
72,73,Tyreek Hill*\HillTy00,KAN,WR,25,12,12,0,0,0,...,7,NaN,NaN,130.0,188.3,191.3,159.3,1.0,28,73.0
73,74,Davante Adams*\AdamDa01,GNB,WR,27,12,12,0,0,0,...,5,1.0,NaN,130.0,212.7,216.7,171.2,1.0,29,74.0
74,75,Sony Michel\MichSo00,NWE,RB,24,16,14,0,0,0,...,7,NaN,NaN,141.0,152.6,156.6,146.6,NaN,24,75.0
75,76,Tom Brady\BradTo00,NWE,QB,42,16,16,373,613,4057,...,3,NaN,1.0,264.0,263.7,275.7,271.7,NaN,12,76.0
76,77,Jason Witten\WittJa00,DAL,TE,37,16,16,0,0,0,...,4,1.0,NaN,77.0,139.9,143.9,108.4,NaN,12,77.0
77,78,Michael Burton\BurtMi00,WAS,NaN,27,10,2,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,78.0
78,79,Jared Goff\GoffJa00,LAR,QB,25,16,16,394,626,4638,...,2,NaN,NaN,248.0,247.5,271.5,263.5,NaN,13,NaN
79,80,Jimmy Garoppolo\GaroJi00,SFO,QB,28,16,16,329,476,3978,...,1,NaN,2.0,247.0,247.3,268.3,260.3,NaN,14,NaN
80,81,Derek Carr\CarrDe02,OAK,QB,28,16,16,361,513,4054,...,2,NaN,NaN,244.0,244.4,258.4,252.4,NaN,16,NaN
81,82,Kirk Cousins*\CousKi00,MIN,QB,31,15,15,307,444,3603,...,1,NaN,1.0,244.0,244.4,256.4,250.4,NaN,15,NaN
82,83,Ryan Fitzpatrick\FitzRy00,MIA,QB,37,15,13,311,502,3529,...,4,NaN,1.0,241.0,241.5,262.5,254.5,NaN,17,NaN
83,84,Philip Rivers\RivePh00,LAC,QB,38,16,16,390,591,4615,...,0,NaN,1.0,236.0,235.5,261.5,255.5,NaN,18,NaN
84,85,Baker Mayfield\MayfBa00,CLE,QB,24,16,16,317,534,3827,...,3,NaN,1.0,229.0,229.2,258.2,250.2,NaN,20,NaN
85,86,Gardner Minshew\MinsGa00,JAX,QB,23,14,12,285,470,3271,...,0,NaN,3.0,229.0,229.2,248.2,235.2,NaN,19,NaN
86,87,Drew Brees*\BreeDr00,NOR,QB,40,11,11,281,378,2979,...,1,NaN,NaN,225.0,224.8,231.8,228.8,NaN,21,NaN
87,88,Ryan Tannehill*\TannRy00,TEN,QB,31,12,10,201,286,2742,...,4,1.0,NaN,224.0,224.2,239.2,230.2,NaN,22,NaN
88,89,Jacoby Brissett\BrisJa00,IND,QB,27,15,15,272,447,2942,...,4,NaN,1.0,217.0,217.7,234.7,223.2,NaN,23,NaN
89,90,Daniel Jones\JoneDa05,NYG,QB,22,13,12,284,459,3027,...,2,NaN,2.0,215.0,215.0,244.0,227.0,NaN,24,NaN
90,91,Andy Dalton\DaltAn00,CIN,QB,32,13,13,314,528,3494,...,4,1.0,1.0,203.0,203.7,224.7,217.2,NaN,26,NaN
91,92,Mitchell Trubisky\TrubMi00,CHI,QB,25,15,15,326,516,3138,...,2,NaN,1.0,203.0,202.8,220.8,212.8,NaN,25,NaN
92,93,Sam Darnold\DarnSa00,NYJ,QB,22,13,13,273,441,3024,...,2,NaN,3.0,189.0,189.2,208.2,202.2,NaN,27,NaN
93,94,Kyle Allen\AlleKy00,CAR,QB,23,13,12,303,489,3322,...,2,NaN,NaN,177.0,177.5,206.5,193.5,NaN,28,NaN
94,95,Matthew Stafford\StafMa00,DET,QB,31,8,8,187,291,2499,...,0,NaN,NaN,167.0,166.6,177.6,171.6,NaN,29,NaN
95,96,Devonta Freeman\FreeDe00,ATL,RB,27,14,14,0,0,0,...,6,NaN,NaN,139.0,197.6,205.6,168.1,NaN,26,NaN
96,97,Melvin Gordon\GordMe00,LAC,RB,26,12,11,0,0,0,...,9,NaN,NaN,139.0,180.8,189.8,159.8,NaN,25,NaN
97,98,Ronald Jones\JoneRo01,TAM,RB,22,16,9,0,0,0,...,6,NaN,NaN,135.0,166.3,174.3,150.8,NaN,27,NaN
98,99,Adrian Peterson\PeteAd01,WAS,RB,34,15,15,0,0,0,...,5,NaN,NaN,130.0,147.0,155.0,138.5,NaN,28,NaN
99,100,D.K. Metcalf\MetcDK00,SEA,WR,22,16,15,0,0,0,...,7,1.0,NaN,129.0,187.1,193.1,158.1,NaN,30,NaN

In [12]:
Top100 = Master_DF.head(100)

In [13]:
Team_Count = Top100[['Rank','Team']]
Team_Count.head(5)

   Rank Team
0     1  CAR
1     2  BAL
2     3  TEN
3     4  GNB
4     5  DAL

In [14]:
Team_Counted = Team_Count.groupby(['Team'])['Rank'].count().reset_index(name = "Count")
Team_Counted.head(5)

  Team  Count
0  2TM      1
1  ARI      1
2  ATL      5
3  BAL      3
4  BUF      2

In [15]:
Team_Counted_Sorted = Team_Counted.nlargest(10, 'Count')
Team_Counted_Sorted

   Team  Count
2   ATL      5
9   DAL      5
17  LAC      5
18  LAR      5
21  NOR      4
26  PHI      4
27  SEA      4
28  SFO      4
29  TAM      4
3   BAL      3

In [16]:
Team_Counted_Sorted.insert(2, "Games Won", [7, 8, 5, 9, 13, 9, 11, 13, 7, 14], True)

In [17]:
Team_Counted_Sorted.insert(3, 'Division Position', [2, 2, 4, 3, 1, 1, 2, 1, 3, 1], True)

In [18]:
Team_Counted_Sorted.insert(4, 'Year', [2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019], True)

In [19]:
GDY_2019 = Team_Counted_Sorted
GDY_2019

   Team  Count  Games Won  Division Position  Year
2   ATL      5          7                  2  2019
9   DAL      5          8                  2  2019
17  LAC      5          5                  4  2019
18  LAR      5          9                  3  2019
21  NOR      4         13                  1  2019
26  PHI      4          9                  1  2019
27  SEA      4         11                  2  2019
28  SFO      4         13                  1  2019
29  TAM      4          7                  3  2019
3   BAL      3         14                  1  2019

In [20]:
Master_DF_2018 = pd.read_csv("NFLFantasyStats_2018.csv", header=2)
Master_DF_2018

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Todd Gurley*+\GurlTo01,LAR,RB,24,14,14,0,0,0,...,21,3.0,NaN,313.0,372.1,379.1,342.6,178.0,1,1.0
1,2,Saquon Barkley*\BarkSa00,NYG,RB,21,16,16,0,0,0,...,15,1.0,NaN,295.0,385.8,391.8,340.3,159.0,2,2.0
2,3,Christian McCaffrey\McCaCh01,CAR,RB,22,16,16,1,1,50,...,13,NaN,NaN,279.0,385.5,392.5,332.0,143.0,3,3.0
3,4,Alvin Kamara*\KamaAl00,NOR,RB,23,15,13,0,0,0,...,18,3.0,NaN,273.0,354.2,360.2,313.7,138.0,4,4.0
4,5,Patrick Mahomes*+\MahoPa00,KAN,QB,23,16,16,383,580,5097,...,2,1.0,NaN,417.0,417.1,437.1,429.1,134.0,1,5.0
5,6,Tyreek Hill*+\HillTy00,KAN,WR,24,16,16,0,0,0,...,14,NaN,NaN,247.0,334.0,340.0,290.5,131.0,1,6.0
6,7,Ezekiel Elliott*\ElliEz00,DAL,RB,23,15,15,0,0,0,...,9,NaN,NaN,252.0,329.1,336.1,290.6,117.0,5,7.0
7,8,Travis Kelce*+\KelcTr00,KAN,TE,29,16,16,0,0,0,...,10,NaN,NaN,192.0,294.6,298.6,243.1,109.0,1,8.0
8,9,Antonio Brown*\BrowAn04,PIT,WR,30,15,15,0,1,0,...,15,NaN,NaN,220.0,323.7,326.7,271.7,103.0,2,9.0
9,10,Davante Adams*\AdamDa01,GNB,WR,26,15,15,0,0,0,...,13,1.0,NaN,219.0,329.6,332.6,274.1,102.0,3,10.0
10,11,DeAndre Hopkins*+\HopkDe00,HOU,WR,26,16,16,0,1,0,...,11,NaN,NaN,219.0,333.5,338.5,276.0,102.0,4,11.0
11,12,Julio Jones*\JoneJu02,ATL,WR,29,16,16,0,0,0,...,8,NaN,NaN,213.0,325.9,330.9,269.4,97.0,5,12.0
12,13,Melvin Gordon*\GordMe00,LAC,RB,25,12,12,0,0,0,...,14,2.0,NaN,226.0,275.5,281.5,250.5,90.0,6,13.0
13,14,James Conner*\ConnJa00,PIT,RB,23,13,12,0,0,0,...,13,2.0,NaN,225.0,280.0,288.0,252.5,90.0,7,14.0
14,15,George Kittle*\KittGe00,SFO,TE,25,16,16,0,0,0,...,5,1.0,NaN,171.0,258.7,261.7,214.7,88.0,2,15.0
15,16,Mike Evans*\EvanMi00,TAM,WR,25,16,16,0,0,0,...,9,NaN,NaN,198.0,290.4,294.4,247.4,82.0,6,16.0
16,17,Zach Ertz*\ErtzZa00,PHI,TE,28,16,16,0,0,0,...,8,NaN,NaN,164.0,280.3,283.3,222.3,81.0,3,17.0
17,18,Adam Thielen*\ThieAd00,MIN,WR,28,16,16,0,0,0,...,9,1.0,NaN,194.0,307.3,311.3,250.8,78.0,7,18.0
18,19,Michael Thomas*+\ThomMi05,NOR,WR,25,16,16,0,0,0,...,9,NaN,NaN,191.0,315.5,320.5,253.0,74.0,8,19.0
19,20,Eric Ebron*\EbroEr00,IND,TE,25,16,8,0,1,0,...,14,NaN,NaN,156.0,222.2,226.2,189.2,73.0,4,20.0
20,21,Matt Ryan\RyanMa00,ATL,QB,33,16,16,422,608,4924,...,4,NaN,2.0,354.0,355.0,373.0,361.5,71.0,2,21.0
21,22,JuJu Smith-Schuster*\SmitJu00,PIT,WR,22,16,13,0,0,0,...,7,1.0,NaN,186.0,296.9,300.9,241.4,70.0,9,22.0
22,23,Kareem Hunt\HuntKa00,KAN,RB,23,11,11,0,0,0,...,14,NaN,NaN,204.0,230.2,236.2,217.2,69.0,8,23.0
23,24,Joe Mixon\MixoJo00,CIN,RB,22,14,13,0,0,0,...,9,NaN,NaN,200.0,243.4,249.4,221.9,65.0,9,24.0
24,25,Robert Woods\WoodRo02,LAR,WR,26,16,16,0,0,0,...,7,NaN,NaN,180.0,265.6,271.6,222.6,63.0,10,25.0
25,26,David Johnson\JohnDa08,ARI,RB,27,16,16,0,0,0,...,10,1.0,NaN,197.0,246.6,254.6,221.6,61.0,10,26.0
26,27,Ben Roethlisberger\RoetBe00,PIT,QB,36,16,16,452,675,5129,...,3,NaN,4.0,341.0,341.9,362.9,357.4,58.0,3,27.0
27,28,James White\WhitJa02,NWE,RB,26,16,3,0,0,0,...,12,NaN,NaN,190.0,276.6,282.6,233.1,54.0,11,28.0
28,29,Phillip Lindsay*\LindPh00,DEN,RB,24,15,8,0,0,0,...,10,NaN,NaN,188.0,222.8,228.8,205.3,52.0,12,29.0
29,30,Derrick Henry\HenrDe00,TEN,RB,24,16,12,2,3,14,...,12,NaN,NaN,186.0,201.4,205.4,193.9,51.0,13,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,593,Alonzo Russell\RussAl01,NYG,NaN,26,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208,NaN
593,594,Mark Sanchez\SancMa00,WAS,QB,32,2,1,19,35,138,...,0,NaN,NaN,NaN,0.3,3.3,3.3,NaN,64,NaN
594,595,Matt Schaub\SchaMa00,ATL,QB,37,3,0,5,7,20,...,0,NaN,NaN,NaN,1.1,1.1,0.6,NaN,66,NaN
595,596,Mason Schreck\SchrMa00,CIN,NaN,25,6,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129,NaN
596,597,Boston Scott\ScotBo02,PHI,NaN,23,2,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160,NaN
597,598,Da'Mari Scott\ScotDa02,BUF,NaN,23,3,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239,NaN
598,599,Cam Sims\SimsCa00,WAS,NaN,22,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220,NaN
599,600,Matthew Slater\SlatMa00,NWE,NaN,33,16,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232,NaN
600,601,Nate Solder\SoldNa00,NYG,NaN,30,16,16,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126,NaN
601,602,Brandon Tate\TateBr00,NOR,NaN,31,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,231,NaN
602,603,Mike Thomas\ThomMi04,LAR,NaN,24,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,222,NaN
603,604,Danny Vitale\VitaDa00,GNB,RB,25,5,0,0,0,0,...,0,NaN,NaN,NaN,1.2,1.2,0.7,NaN,152,NaN
604,605,Clive Walford\WalfCl00,NYJ,NaN,27,1,1,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130,NaN
605,606,Mike Wallace\WallMi00,PHI,NaN,32,2,2,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224,NaN
606,607,Brandon Weeden\WeedBr00,HOU,QB,35,1,0,0,0,0,...,0,NaN,NaN,NaN,-0.1,-0.1,-0.1,NaN,70,NaN
607,608,Markus Wheaton\WheaMa00,PHI,NaN,27,1,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240,NaN
608,609,Cole Wick\WickCo00,SFO,NaN,25,5,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121,NaN
609,610,Jonathan Williams\WillJo07,NOR,RB,24,3,0,0,0,0,...,0,NaN,NaN,NaN,1.1,1.1,0.6,NaN,153,NaN
610,611,Deon Yelder\YeldDe00,KAN,NaN,23,3,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135,NaN
611,612,Jacoby Brissett\BrisJa00,IND,QB,26,4,0,2,4,2,...,0,NaN,NaN,-1.0,-0.6,-0.6,-0.6,NaN,72,NaN
612,613,Brian Hoyer\HoyeBr00,NWE,QB,33,5,0,1,2,7,...,0,NaN,NaN,-1.0,-0.5,-0.5,-0.5,NaN,71,NaN
613,614,J'Mon Moore\MoorJM00,GNB,WR,23,12,0,0,0,0,...,0,NaN,NaN,-1.0,1.5,2.5,0.5,NaN,241,NaN
614,615,Geno Smith\SmitGe00,LAC,QB,28,5,0,1,4,8,...,0,NaN,NaN,-1.0,-1.5,-0.5,-1.5,NaN,73,NaN
615,616,Rod Streater\StreRo00,CLE,WR,30,3,0,0,0,0,...,0,NaN,NaN,-1.0,-1.1,-1.1,-1.1,NaN,242,NaN
616,617,Robert Turbin\TurbRo00,IND,RB,29,2,0,0,0,0,...,0,NaN,NaN,-1.0,0.3,1.3,-0.2,NaN,166,NaN
617,618,Kaelin Clay\ClayKa00,NYG,NaN,26,2,0,0,0,0,...,0,NaN,NaN,-2.0,-2.0,-1.0,-2.0,NaN,244,NaN
618,619,JJ Jones\JoneJJ00,2TM,WR,26,4,0,0,0,0,...,0,NaN,NaN,-2.0,-0.7,0.3,-1.2,NaN,243,NaN
619,620,Kyle Lauletta\LaulKy00,NYG,QB,23,2,0,0,5,0,...,0,NaN,NaN,-2.0,-2.2,-1.2,-1.2,NaN,74,NaN
620,621,Riley McCarron\McCaRi00,NWE,NaN,25,1,0,0,0,0,...,0,NaN,NaN,-2.0,-2.0,-1.0,-2.0,NaN,246,NaN
621,622,Jojo Natson\NatsJo00,LAR,NaN,24,13,0,0,0,0,...,0,NaN,NaN,-2.0,-2.0,-1.0,-2.0,NaN,245,NaN

In [21]:
Master_DF_2018.columns = ['Rank', 'Player', 'Team','Fantasy Position','Age','Games Played','Games Started as Off or Def','Passes completed','Passes attempted',"Yards Gained by Passing",'Passing Touchdowns','Interceptions Thrown','Rushing Attempts','Rusing Yards Gained','Rushing Yards per Attempt','Rushing Touchdowns','Pass Targets','Receptions','Receiving Yards','Receiving Yards per Reception','Receiving Touchdowns','# of times fumbled both lost and recovered by own team','Fumbles Lost by Player','Touchdowns of every type','Two-Point Conversions Made','Two-point Conversion Passes','Fantasy Points','Fantasy Points(PPR scoring)','Fantasy Points (Draftkings scoring)','Fantasy Points(FanDuel scoring)','Value Based Drafting','Fantasy rank within Position','Overall Fantasy Rank']

In [22]:
Top100_2018 = Master_DF_2018.head(100)

In [23]:
Team_Count_2018 = Top100_2018[['Rank','Team']]
Team_Count_2018.head(5)

   Rank Team
0     1  LAR
1     2  NYG
2     3  CAR
3     4  NOR
4     5  KAN

In [24]:
Team_Counted_2018 = Team_Count_2018.groupby(['Team'])['Rank'].count().reset_index(name = 'Count')

In [25]:
Team_Sorted_2018 = Team_Counted_2018.nlargest(10, 'Count')

In [26]:
GDY_2018 = Team_Sorted_2018

In [27]:
GDY_2018.insert(2, 'Games Won',[7,11,5,9,5,12,7,10,12,12], True)

In [28]:
GDY_2018.insert(3, 'Division Position', [2,1,4,2,4,1,3,2,1,2], True)

In [29]:
GDY_2018.insert(4, 'Year',[2018,2018,2018,2018,2018,2018,2018,2018,2018,2018],True)

In [30]:
GDY_2018

   Team  Count  Games Won  Division Position  Year
2   ATL      6          7                  2  2018
22  NWE      5         11                  1  2018
23  NYG      5          5                  4  2018
27  PIT      5          9                  2  2018
30  TAM      5          5                  4  2018
6   CHI      4         12                  1  2018
8   CLE      4          7                  3  2018
14  IND      4         10                  2  2018
16  KAN      4         12                  1  2018
17  LAC      4         12                  2  2018

In [31]:
Master_DF_2017 = pd.read_csv("NFLFantasyStats_2017.csv", header=2)

In [32]:
#Takes the top 100 Fantasy point scorers #47 active players * 32 teams is 1472 players.  This is the top 0.07%
def Initial_DF100(DF):
    DF1 = DF.head(100)
    return DF1
#Renames the columns so that they are not abbreviated
def Renamed_Columns(DF):
    DF1 = Initial_DF100(DF)
    DF1.columns = ['Rank', 'Player', 'Team','Fantasy Position','Age','Games Played','Games Started as Off or Def','Passes completed','Passes attempted',"Yards Gained by Passing",'Passing Touchdowns','Interceptions Thrown','Rushing Attempts','Rusing Yards Gained','Rushing Yards per Attempt','Rushing Touchdowns','Pass Targets','Receptions','Receiving Yards','Receiving Yards per Reception','Receiving Touchdowns','# of times fumbled both lost and recovered by own team','Fumbles Lost by Player','Touchdowns of every type','Two-Point Conversions Made','Two-point Conversion Passes','Fantasy Points','Fantasy Points(PPR scoring)','Fantasy Points (Draftkings scoring)','Fantasy Points(FanDuel scoring)','Value Based Drafting','Fantasy rank within Position','Overall Fantasy Rank']
    return DF1

#Creates the skeleton for Most_Teams
def Counting_Teams(DF):
    DF_Renamed = Renamed_Columns(DF)
    DF1 = DF_Renamed[['Rank','Team']]
    return DF1

#Counts how many players are there from each team
def Most_Teams(DF):
    DF_Counted = Counting_Teams(DF)
    DF_Counts = DF_Counted.groupby(['Team'])['Rank'].count().reset_index(name = 'Count')
    return DF_Counts

#Ranks each team with the most players After doing all the previous steps
def Teams_Most_Players(DF):
    DF1 = Most_Teams(DF)
    DF2 = DF1.nlargest(10, 'Count')
    return DF2

In [33]:
#Creating a new DF by combining previous one and the games won, Division position and year

def Won_Position_Year(DF, List_GamesWon, List_DivPos, List_Year):
    DF.insert(2, 'Games Won',List_GamesWon, True)
    DF.insert(3, 'Division Position',List_DivPos, True)
    DF.insert(4, "Year",List_Year,True )
    return DF

In [34]:
TeamCount_2017 = Teams_Most_Players(Master_DF_2017)

In [35]:
List1_2017 = [13,10,11,9,4,10,9,11,13,5]
List2_2017 = [1,3,2,2,3,1,2,1,1,4]
List3_2017 = [2017,2017,2017,2017,2017,2017,2017,2017,2017,2017]

In [36]:
GDY_2017 = Won_Position_Year(TeamCount_2017, List1_2017, List2_2017, List3_2017)

In [37]:
GDY_2017

   Team  Count  Games Won  Division Position  Year
19  MIN      6         13                  1  2017
1   ATL      4         10                  3  2017
4   CAR      4         11                  2  2017
8   DAL      4          9                  2  2017
13  IND      4          4                  3  2017
15  KAN      4         10                  1  2017
16  LAC      4          9                  2  2017
20  NOR      4         11                  1  2017
21  NWE      4         13                  1  2017
23  NYJ      4          5                  4  2017

In [38]:
Master_DF_2016 = pd.read_csv("NFLFantasyStats_2016.csv", header = 1)

In [39]:
TeamCount_2016 = Teams_Most_Players(Master_DF_2016)

In [40]:
List1_2016 = [8,7,5,11,6,12,10,14,12,9]
List2_2016 = [3,3,4,1,4,1,2,1,2,2]
List3_2016 = [2016,2016,2016,2016,2016,2016,2016,2016,2016,2016]

In [41]:
GDY_2016 = Won_Position_Year(TeamCount_2016, List1_2016, List2_2016, List3_2016)

In [42]:
GDY_2016

   Team  Count  Games Won  Division Position  Year
31  WAS      6          8                  3  2016
19  NOR      5          7                  3  2016
26  SDG      5          5                  4  2016
1   ATL      4         11                  1  2016
4   CAR      4          6                  4  2016
15  KAN      4         12                  1  2016
17  MIA      4         10                  2  2016
20  NWE      4         14                  1  2016
23  OAK      4         12                  2  2016
30  TEN      4          9                  2  2016

In [43]:
Master_DF_2015 = pd.read_csv("NFLFantasyStats_2015.csv", header = 1)

In [44]:
TeamCount_2015 = Teams_Most_Players(Master_DF_2015)

In [45]:
List1_2015 = [10,13,15,12,7,6,10,7,7,6]
List2_2015 = [2,1,1,1,3,3,2,3,2,4]
List3_2015 = [2015,2015,2015,2015,2015,2015,2015,2015,2015,2015]

In [46]:
GDY_2015 = Won_Position_Year(TeamCount_2015, List1_2015, List2_2015, List3_2015)

In [47]:
Master_DF_2014 = pd.read_csv("NFLFantasyStats_2014.csv", header = 1)

In [48]:
TeamCount_2014 = Teams_Most_Players(Master_DF_2014)

In [49]:
List1_2014 = [7,10,12,10,6,10,5,12,11,12]
List2_2014 = [1,2,1,2,3,3,4,1,2,1]
List3_2014 = [2014,2014,2014,2014,2014,2014,2014,2014,2014,2014]

In [50]:
GDY_2014 = Won_Position_Year(TeamCount_2014, List1_2014, List2_2014, List3_2014)

In [51]:
Master_DF_2013 = pd.read_csv("NFLFantasyStats_2013.csv", header = 1)

In [52]:
TeamCount_2013 = Teams_Most_Players(Master_DF_2013)

In [53]:
TeamCount_2013

   Team  Count
5   CHI      6
9   DEN      6
0   ARI      5
25  SDG      5
6   CIN      4
8   DAL      4
10  DET      4
13  IND      4
16  MIA      4
18  NOR      4

In [54]:
List1_2013 = [8,13,10,9,11,8,7,11,8,11]
List2_2013 = [2,1,3,3,1,2,3,1,3,2]
List3_2013 = [2013, 2013,2013, 2013,2013, 2013,2013, 2013,2013, 2013]

In [55]:
GDY_2013 = Won_Position_Year(TeamCount_2013, List1_2013, List2_2013, List3_2013)

In [56]:
GDY_2013

   Team  Count  Games Won  Division Position  Year
5   CHI      6          8                  2  2013
9   DEN      6         13                  1  2013
0   ARI      5         10                  3  2013
25  SDG      5          9                  3  2013
6   CIN      4         11                  1  2013
8   DAL      4          8                  2  2013
10  DET      4          7                  3  2013
13  IND      4         11                  1  2013
16  MIA      4          8                  3  2013
18  NOR      4         11                  2  2013

In [57]:
Master_DF_2012 = pd.read_csv("NFLFantasyStats_2012.csv", header = 1)

In [58]:
TeamCount_2012 = Teams_Most_Players(Master_DF_2012)

In [59]:
TeamCount_2012

   Team  Count
0   ATL      5
1   BAL      5
3   CAR      5
11  HOU      5
17  NOR      5
18  NWE      5
5   CIN      4
7   DAL      4
10  GNB      4
26  SFO      4

In [60]:
List1_2012 = [13,10,7,12,7,12,10,8,11,11]
List2_2012 = [1,1,2,1,3,1,2,3,1,1]
List3_2012 = [2012, 2012,2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012]

In [61]:
GDY_2012 = Won_Position_Year(TeamCount_2012, List1_2012, List2_2012, List3_2012)

In [62]:
Master_DF_2011 = pd.read_csv("NFLFantasyStats_2011.csv", header = 1)

In [63]:
TeamCount_2011 = Teams_Most_Players(Master_DF_2011)

In [64]:
TeamCount_2011

   Team  Count
19  NOR      6
2   ATL      5
20  NWE      5
26  SDG      5
5   CAR      4
9   DAL      4
12  GNB      4
21  NYG      4
22  NYJ      4
24  PHI      4

In [65]:
List1_2011 = [13,10,13,8,6,8,15,9,8,8]
List2_2011 = [1,2,1,2,3,3,1,1,2,2]
List3_2011 = [2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011]

In [66]:
GDY_2011 = Won_Position_Year(TeamCount_2011, List1_2011, List2_2011, List3_2011)

In [67]:
GDY_2011

   Team  Count  Games Won  Division Position  Year
19  NOR      6         13                  1  2011
2   ATL      5         10                  2  2011
20  NWE      5         13                  1  2011
26  SDG      5          8                  2  2011
5   CAR      4          6                  3  2011
9   DAL      4          8                  3  2011
12  GNB      4         15                  1  2011
21  NYG      4          9                  1  2011
22  NYJ      4          8                  2  2011
24  PHI      4          8                  2  2011

In [68]:
Master_DF_2010 = pd.read_csv("NFLFantasyStats_2010.csv", header = 1)

In [69]:
TeamCount_2010 = Teams_Most_Players(Master_DF_2010)

In [70]:
TeamCount_2010

   Team  Count
19  NWE      5
20  NYG      5
2   ATL      4
3   BAL      4
6   CIN      4
8   DAL      4
14  JAX      4
15  KAN      4
21  NYJ      4
22  OAK      4

In [71]:
List1_2010 = [14,10,13,12,4,6,8,10,11,8]
List2_2010 = [1,2,1,2,4,3,2,1,2,3]
List3_2010 = [2010,2010,2010,2010,2010,2010,2010,2010,2010,2010]

In [72]:
GDY_2010 = Won_Position_Year(TeamCount_2010, List1_2010, List2_2010, List3_2010)

In [73]:
GDY_2010

   Team  Count  Games Won  Division Position  Year
19  NWE      5         14                  1  2010
20  NYG      5         10                  2  2010
2   ATL      4         13                  1  2010
3   BAL      4         12                  2  2010
6   CIN      4          4                  4  2010
8   DAL      4          6                  3  2010
14  JAX      4          8                  2  2010
15  KAN      4         10                  1  2010
21  NYJ      4         11                  2  2010
22  OAK      4          8                  3  2010

In [74]:
Master_DF_2009 = pd.read_csv("NFLFantasyStats_2009.csv", header = 1)

In [75]:
TeamCount_2009 = Teams_Most_Players(Master_DF_2009)

In [76]:
TeamCount_2009

   Team  Count
24  PIT      6
0   ARI      5
17  MIN      5
18  NOR      5
20  NYG      5
1   ATL      4
2   BAL      4
8   DAL      4
11  GNB      4
13  IND      4

In [77]:
List1_2009 = [9, 10, 12, 13, 8, 9, 9, 11, 11, 14]
List2_2009 = [3, 1, 1, 1, 3, 2, 2, 1, 2, 1]
List3_2009 = [2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009, 2009]

In [78]:
GDY_2009 = Won_Position_Year(TeamCount_2009, List1_2009, List2_2009, List3_2009)

In [79]:
GDY_2019_2009 = pd.concat([GDY_2019, GDY_2018, GDY_2017, GDY_2016, GDY_2015, GDY_2014, GDY_2013, GDY_2012, GDY_2011, GDY_2010, GDY_2009], ignore_index=True, sort=False)

In [80]:
GDY_2019_2009

    Team  Count  Games Won  Division Position  Year
0    ATL      5          7                  2  2019
1    DAL      5          8                  2  2019
2    LAC      5          5                  4  2019
3    LAR      5          9                  3  2019
4    NOR      4         13                  1  2019
5    PHI      4          9                  1  2019
6    SEA      4         11                  2  2019
7    SFO      4         13                  1  2019
8    TAM      4          7                  3  2019
9    BAL      3         14                  1  2019
10   ATL      6          7                  2  2018
11   NWE      5         11                  1  2018
12   NYG      5          5                  4  2018
13   PIT      5          9                  2  2018
14   TAM      5          5                  4  2018
15   CHI      4         12                  1  2018
16   CLE      4          7                  3  2018
17   IND      4         10                  2  2018
18   KAN      4         12                  1  2018
19   LAC      4         12                  2  2018
20   MIN      6         13                  1  2017
21   ATL      4         10                  3  2017
22   CAR      4         11                  2  2017
23   DAL      4          9                  2  2017
24   IND      4          4                  3  2017
25   KAN      4         10                  1  2017
26   LAC      4          9                  2  2017
27   NOR      4         11                  1  2017
28   NWE      4         13                  1  2017
29   NYJ      4          5                  4  2017
..   ...    ...        ...                ...   ...
80   NOR      6         13                  1  2011
81   ATL      5         10                  2  2011
82   NWE      5         13                  1  2011
83   SDG      5          8                  2  2011
84   CAR      4          6                  3  2011
85   DAL      4          8                  3  2011
86   GNB      4         15                  1  2011
87   NYG      4          9                  1  2011
88   NYJ      4          8                  2  2011
89   PHI      4          8                  2  2011
90   NWE      5         14                  1  2010
91   NYG      5         10                  2  2010
92   ATL      4         13                  1  2010
93   BAL      4         12                  2  2010
94   CIN      4          4                  4  2010
95   DAL      4          6                  3  2010
96   JAX      4          8                  2  2010
97   KAN      4         10                  1  2010
98   NYJ      4         11                  2  2010
99   OAK      4          8                  3  2010
100  PIT      6          9                  3  2009
101  ARI      5         10                  1  2009
102  MIN      5         12                  1  2009
103  NOR      5         13                  1  2009
104  NYG      5          8                  3  2009
105  ATL      4          9                  2  2009
106  BAL      4          9                  2  2009
107  DAL      4         11                  1  2009
108  GNB      4         11                  2  2009
109  IND      4         14                  1  2009

[110 rows x 5 columns]